:root {
    --basic-font-size: 13px;
    --basic-btn-font-size: 14px;
    --menu-height:50px;
    --btn-height:70px;
    --menu-btn-width: 70px;
    --main-color: rgb(176, 165, 238);
    --unselected-btn-color: rgba(211, 206, 214, 0.568);
    --selected-btn-color: rgb(191, 185, 226);
    --font-color: rgb(68, 59, 116);
    --selected-panel-1:  rgba(136, 122, 218, 0.925);
    --selected-panel-2:  rgb(86, 77, 138);
    --canvas-color:rgba(248, 242, 255, 0.966);
}
body{
    margin:10px 10px 50px 10px;
    background-color: var(--main-color);
}
input{
    margin:0;
    border:0;
}
/* out-line */
.top_area {
    width:100%;
    height:10%;
    text-align: center;
    line-height: 100px;
    color: var(--font-color)
}
.canvas_wrapper {
    display: flex;
    width:100%;
    height:30%;
    background-color: var(--canvas-color);
    border-radius: 10px;
    margin: 0 0 20px 0;
    overflow: hidden;
}
.menu_wrapper {
    width:100%;
    height:60%;
}

.character_area_wrapper_wrapper {
    width: 70%;
}
.character_area_wrapper {
    /* background-color:lemonchiffon; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100% - 50px);
}
.character_area {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}
.character_area_bottom {
    text-align: center;
    padding-bottom: 10px;
}
.text_area {
    font-size: var(--basic-font-size);
    text-align: center;
    width:30%; 
    /* background-color: antiquewhite; */
    padding: 15px;
    color: var(--font-color)
}

.top_menu {
    width:100%;
    height:var(--menu-height);
}
.top_menu_btn {
    width: var(--menu-btn-width);
    font-size: var(--basic-btn-font-size);
    float: left;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.setting_btn{
    color: white;
}
.top_menu_btn.active {
    background-color: var(--selected-panel-1);
}
.sub_menu_wrapper {
    padding: 5px 5px 5px 5px;
    background-color: var(--selected-panel-1);
    border-radius: 0 10px 10px 10px;
}
.sub_menu {
    height:var(--menu-height);
    background-color:var(--selected-panel-1);
    margin-left: 0;
    overflow-x: auto;
    display:-webkit-box;
}
.filter_menu {
    height:45px;
    width: 100%;
    display:inline-flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
}
.sub_menu_btn {
    width: var(--menu-btn-width);
    font-size: var(--basic-btn-font-size);
    float: left;
    display:none;
    border-radius: 10px 10px 0 0;
}

.sub_menu_btn.active {
    background-color:var(--selected-panel-2);
    color:white;
}
.show {
    display: block;
  }
  .input_search{
      font-size: var(--basic-btn-font-size);
      width:60%;
      border-radius: 10px;
      padding: 10px;
  }
  .additional_btn {
    font-size: var(--basic-btn-font-size);
    border: 0px;
  }
  .general_list_btn {
    font-size: var(--basic-btn-font-size);
    width:100%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    background-size: 35px;
  }
  .height_fit {
    background-size: 40px;

  }
  .general_list_btn:hover{
      background-color: var(--selected-btn-color);
  }
  .item_list_wrapper {
    padding: 5px 5px 0 5px;
    background-color:var(--selected-panel-2);
    height: calc(100% - var(--menu-height) * 2 - 16px);
    border-radius: 0px 0px 10px 10px;
}
.scroll_area{
    overflow: auto;
    height:calc(100% - var(--menu-height) - 5px);
}
  .item_list{
      padding-left:0px;
  }
  .general_btn {
    width: 80px;
    padding: 1px;
    border-radius: 10px;
    margin-left: 5px;
  }
  button {
      border:0px;
      padding: 14px;
      background-color: var(--unselected-btn-color);
      color: var(--font-color);
  }
  button:hover {
    background-color: var(--selected-btn-color);
  }
  .zoom_btn {
      border-radius: 20px;
      width: 10px;
      height: 10px;
      font-size: 10px;
      background-color: rgb(221, 205, 252);
  }
  .setting_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer {
    font-size: var(--basic-font-size);
    color: var(--font-color);
  }
  .round_border {
      border-radius: 10px;
  }
  .radio_style {
      width: 20px;
      height: 20px;
      margin: 10px;
  }
  .radio_label_style {
    color: rgb(194, 194, 194);
    font-size: var(--basic-btn-font-size);
    width: 70px;
  }