:root {
    --basic-font-size: 13px;
    --basic-btn-font-size: 20px;
    --menu-height:50px;
    --btn-height:70px;
}
body{
    margin:0;
}
input{
    margin:0;
    border:0;
}
/* out-line */
.top_area {
    width:100%;
    height:10%;
}
.canvas_wrapper {
    display:flex;
    width:100%;
    height:30%;
}
.menu_wrapper {
    width:100%;
    height:60%;
}

.character_area_wrapper_wrapper {
    display:flex;
    float:left;
    width:60%;
}
.character_area_wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.character_area {
    position:absolute;
}
.text_area {
    font-size: var(--basic-font-size);
    width:auto; 
    float:right; 
}

.top_menu {
    width:100%;
    height:var(--menu-height);
}
.top_menu_btn {
    width: 80px;
    font-size: var(--basic-btn-font-size);
    float: left;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.top_menu_btn.active {
    background-color: cornflowerblue;
}
.sub_menu_wrapper {
    padding: 5px 5px 0 5px;
    background-color: cornflowerblue;
}
.sub_menu {
    height:var(--menu-height);
    background-color:cornflowerblue;
    margin-left: 0;
    overflow-x: scroll;
    display:-webkit-box;
}
.filter_menu {
    height:70px;
    background-color:blueviolet;
    display:inline-flex;
}
.sub_menu_btn {
    font-size: var(--basic-btn-font-size);
    float: left;
    display:none;
    border-radius: 10px 10px 0 0;
    width: 70px;
}
.sub_menu_btn.active {
    background-color:darksalmon;
}
.show {
    display: block;
  }
  .input_search{
      font-size: var(--basic-btn-font-size);
      width:60%;
  }
  .additional_btn {
    font-size: var(--basic-btn-font-size);
    border: 0px;
  }
  .general_btn {
    font-size: var(--basic-btn-font-size);
    border: 0px;
    width:100%;
  }
  .item_list_wrapper {
    padding: 5px 5px 0 5px;
    background-color:darksalmon;
    height:100%;
}
.scroll_area{
    overflow: scroll;
    height:100%;
}
  .item_list{
      padding-left:0px;
  }
  button {
      border:0px;
      padding: 14px;
  }