body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 150px;
    height: 150px;
    font-size: 50px;
    float: left;
    border: 0px;
    margin: 5px;
    color: white;
}
