/* out-line */
.top_area {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
}
.info_area {
    height: 15px;
    width: 100%;
    font-size: var(--basic-font-size);
}
.canvas_wrapper {
    height: 37%;
    display: flex;
    width: 100%;
    background-color: var(--canvas-color);
    border-radius: 10px;
    margin: 0 0 20px 0;
    overflow: hidden;
}
.menu_wrapper {
    height: calc(60% - 25px);
    width: 100%;
}
.footer {
    height: 10px;
    font-size: var(--small-font-size);
    color: var(--font-color);
    text-align: right;
}
